<html>
   <head>
      <meta charset="utf-8" />
      <title>
         Curso de
         {{category}}
      </title>
   </head>
   <body>
      <h2 class="title">{{title}}</h2>
      <table>
         <thead>
            {{#each head as |row|}}
               <tr>
                  {{#each row as |th|}}
                     <th
                        class="{{th.class}}"
                        colspan={{th.colspan}}
                     >{{th.value}}</th>
                  {{/each}}
               </tr>
            {{/each}}
         </thead>
         <tbody>
            {{#each body as |row|}}
               <tr>
                  {{#each row as |td|}}
                     <td class="{{td.class}}">
                        {{td.value}}
                     </td>
                  {{/each}}
               </tr>
            {{/each}}
         </tbody>
      </table>
   </body>
</html>