<html>
   <head>
      <meta charset="utf-8">
      <title>Lista de {{title}}</title>
   </head>
   <body>
      {{!-- <div class="header">
         <img class='header-img' src="data:image/jpeg;base64,{{img}}" alt="logo">
      </div> --}}
      <div class='container'>
         {{#if title}}
            <h2 {{#if small}} class="title big" {{else}} class="title" {{/if}} >Lista de {{title}}</h2>
         {{/if}}
         <table {{#if small}} class="small" {{/if}} >
            <thead>
               <tr>
                  {{#each head as |item|}}
                     <th>{{item}}</th>
                  {{/each}}
               </tr>
            </thead>
            <tbody>
               {{#each body as |row|}}
                  <tr>
                     {{#each row as |td|}}
                        <td>{{td}}</td>
                     {{/each}}
                  </tr>
               {{/each}}
            </tbody>
         </table>
         {{#if total}}
            <p>{{total}}</p>
         {{/if}}
      </div>
   </body>
</html>