<html>
   <head>
      <meta charset="utf-8">
      <title>
         {{#if category}}
            Curso de {{category}}
         {{else}}
            Lista de {{title}}
         {{/if}}
      </title>
   </head>
   <body>
      {{#if title}}
         <h2 class="title{{#if small}} big{{/if}}">Lista de {{title}}</h2>
      {{/if}}
      {{#if teacher}}
         <div class="subtitle">
            <h3>
               Profesor: {{teacher}}
            </h3>
            <h3>
               Curso: {{category}}
            </h3>
         </div>
      {{/if}}
      <table class="{{#if small}}small {{/if}}{{#if type}}type{{/if}}">
         <thead>
            <tr>
               {{#each head as |item|}}
                  {{#if_and ../blank @first}}
                     <th class="blank">{{item}}</th>
                  {{else}}
                     <th>{{item}}</th>
                  {{/if_and}}
               {{/each}}
            </tr>
         </thead>
         <tbody>
            {{#each body as |row|}}
               <tr>
                  {{#each row as |td|}}
                     {{#if_and ../../firstth @first}}
                        <th class="small">{{td}}</th>
                     {{else}}
                        <td>{{td}}</td>
                     {{/if_and}}
                  {{/each}}
               </tr>
            {{/each}}
         </tbody>
      </table>
      {{#if total}}
         <p class="total">Total: ${{total}}</p>
      {{/if}}
   </body>
</html>